<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="../../assets/js/vue.min.js"></script>
    <title>component-2</title>
</head>

<body>

    <div id="app">
        <helloworld :here="message"></helloworld>
    </div>

</body>
<script>

    var helloworld = {
        template: `<div>my here is {{here}}.</div>`,
        props: ['here']
    }

    var app = new Vue({
        el: '#app',
        data: {
            message: 'peace among the world'
        },
        components: {
            "helloworld": helloworld
        }
    });

</script>

</html>